body{position: relative;
	}

h1{
	color:black;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	padding: 15px;
	text-align: center;
	font-size: 50px !important;
	}
h2{
	color:black;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	font-size: 27px;
	}
h3{
	font-size: 35px !important; 
	text-align:center !important; 
	margin-top:3rem !important; 
	color:#eef343; 
	font-family: 'Quicksand', sans-serif;"
	}
h4{
	color:#000000;
	font-size:1rem !important;
	font-style: italic;
	font-style: bold;
	}

/* BASE */
#titolo{
	background-color: #eef343;
	margin-top:2px;
	margin-bottom: 1px;
	height:100px;
	}
#GG-lato{
	color:black;
	font-size: 27px;
	}
#Navbar1{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	padding:3px 0px 0px 0px;
	margin-top:0px;
	height: 60px;
	}
#card-GG{
	background-color: white;
	}

/* BOTTONE TOP */	
#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: rgb(56, 78, 244); /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
	}	  
#myBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
	}

	/* link blu cliccabili nella breadcrumb */
#link-bread{
	color:blue !important;
}
/* BASE 2 */
#bio-critica{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	margin-top:10px;
	margin-bottom:10px;
	}
#corpo{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	margin-top:10px;
	margin-bottom: 10px;
	}
#titolo-colonne {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	font-size: 30px;
	margin-top:2px;
	margin-bottom: 1px;
	text-align: center;
	}
#container-home{
	width:70rem; 
	height: 120rem; 
	background-color:whitesmoke; 
	margin-top: 1rem; 
	margin-bottom: 2rem;
}
#autorità{
	margin-left: 1rem; 
	color:#444444;
  }

/* Contatti */
#container-contatti {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	color:#000000;
	background-color: whitesmoke;
	font-size: 18px;
	margin-top:2px;
	margin-bottom: 1px;
	height:65rem;
	}
#contattaci{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	color:white;
	font-size: 17px;
	background-color: #323e56;
	margin-left:3rem; 
	height:24rem;
	margin-top: 2.5rem;
	margin-bottom: 1px;
	}
#titolo-contattaci{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	color: white;
	font-size: 24px;
	text-align: center;
	}
#form-contattaci{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	color: white;
	font-size: 16px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	}
#invia{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	margin-left: 21.4rem;
	width:6rem
	}

/* Biografia, critica -- Timeline */
#bottoni{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	margin-top: 3rem;
	margin-left: 16rem;
	margin-bottom: 4rem;
	}
#bottoni-testo{
	width: 59rem;
	}
#titolo-timeline{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	color:black;  
	text-align: center; 
	font-size: 2.5rem;
	}
#metadati-critica{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	font-size: 15px;
	color:black !important;
	}
	/* testo e sfondi laterali */
#biografia{
	color: black !important;
	background-color: #eef343; 
	width: 28rem; 
	padding-left: 0.8rem;
	margin-right: 2rem;
  	}
#sudise{
	color: black !important;
	background-color: #eef343; 
	width: 28rem; 
	padding-left: 0.8rem;
	margin-right: 2rem;
  	}
#sgarbi{
	color: black !important;
	background-color: #438ff3; 
	width: 28rem; 
	padding-left: 0.8rem;
	margin-right: 2rem;
  	}
#rosen{
	color: black !important;
	background-color: #438ff3; 
	width: 28rem; 
	padding-left: 0.8rem;
	margin-right: 2rem;
  	}
#farina{
	color: black !important;
	background-color: #438ff3; 
	width: 28rem; 
	padding-left: 0.8rem;
	margin-right: 2rem;
  	}

/* Opere tutte */
#veditutti{
	color: white !important;
	font-size: 12px; 
	margin-left: 12rem;
	text-transform:uppercase;
  	}
#container-cards{
	background-color:#707160;
	width: 80rem;
	}
#card-immagine1{
	width: 20rem;
	}
#row-opere{
	height: 6rem; 
	margin-top: 2px;
	}
#card1{
	width:20rem !important; 
	margin-left:3rem !important; 
	margin-top:3rem !important;
	}
#card2{
	width:20rem !important; 
	margin-left:2.5rem !important; 
	margin-top:3rem !important;
	}
#card3{
	width:20rem !important; 
	margin-left:2rem !important; 
	margin-top:3rem !important;
	}

/* Contatti e avvisi */
#titoli-cont-avv{
	text-align: center; 
	font-size: 25px;
	}
#cont-avv{
    width: 30rem; 
	margin-top: 2rem;
	}
#card-avv{
    width: 26rem; 
	height:10rem; 
	margin-top: 2rem; 
	margin-left: 1rem;
	background-color: whitesmoke;
	font-size: 20px;
	}

#scrollcontainer{
    height:15rem;
	overflow-y: scroll
	}

#bioimgtext{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	font-size: 15px;
	}
span{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	outline:none;
	}

a{
	color: black !important;
  }

footer {
	color:black;
	background-color: whitesmoke;
	height:70px;
	font-size: 16px;
	text-align: justify;
	line-height: 0.5;
	margin-top: 20px;
	margin-bottom: 5px;
	padding:15px 0 0 15px;
	   }

button {
	outline-color: transparent;
	   }
div {
	color: black;
	}
p {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
  }
li {
	color:black;
   }
table {
	color:black;
	  }