body{position: relative;
	}

h1{
	color:black;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	padding: 15px;
	text-align: center;
	font-size: 50px !important;
	}
h2{
	color:black;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	font-size: 27px;
	}
h3{
	color:#000000;
	font-size: 5rem;
	}

#titolo{
	background-color: #eef343;
	margin-top:2px;
	margin-bottom: 1px;
	height:100px;
	}
#titolo-img {
	margin-top:2px;
	margin-bottom: 1px;
	height:565px;
	}
#bioimgtext{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	font-size: 15px;
	}
#textbio{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	font-size: 25px;
	}

#Navbar1{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	padding:3px 0px 0px 0px;
	margin-top:0px;
	height: 60px;
	}

#corpo{
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	margin-top:10px;
	margin-bottom: 10px;
	}

#card {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	background-color: none;
	border-color: none;
	}

#trafilettodx {
    margin-left: 0px !important;
	}
#scrollcontainer{
    height:15rem;
	overflow-y: scroll
	}

pre {
    color:indigo;
    padding:20px;
	}

span {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
	outline:none;
	 }

a {
	color:#000000;
  }

footer {
	color:black;
	background-color: whitesmoke;
	height:70px;
	font-size: 16px;
	text-align: justify;
	line-height: 0.5;
	margin-top: 20px;
	margin-bottom: 5px;
	padding:15px 0 0 15px;
	   }

button {
	outline-color: transparent;
	   }
div {
	color:#000000;
	}
p {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
  }
li {
	color:#000000;
   }
table {
	color:#000000;
	  }
div {

	}